/* ##########################MAINPAGELOGGEDIN########################### */
#collset{
  margin-top: 100px;
}
#preloader, #notepad, #AllNotesButton, #DoneButton, .delete{
  display: none;
}
.buttons{
  margin-bottom: 20px;
}
#preloader{
  background-color: Transparent;
  border:none;
}
textarea{
  width: 100%;
  max-width: 100%;
  font-size: 18px;
  line-height: 1.5em;
  border-left-width: 20px;
  border-color: #A55F3B;
  color: #A55F3B;
  padding: 10px;
}
div.delete{
  padding-top: 5px;
  width: 100%;
}
div.noteheader{
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 0 10px;
  background: linear-gradient(#B8A596, #FAE4CD);
}
div.text{
  font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div.timetext{
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer{
  color: #fff;
  text-align: center;
  height: 40px;
  display: table;
}
.footer span{
  display: table-cell;
  vertical-align: middle;
}
html{
    position: relative;
    min-height: 100%;
}
body{
  background: url("table.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
